.itemCard {
    display: flex;
    flex-direction: row;
    margin-top: 35px;
    justify-content: center;
    align-content: center;
}

#image {
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#image img {
    width: 100%;
    border-radius: 25px;
}

.info {
    display: flex;
    flex-direction: column;
    width: 55%;
    max-width: 55%;
}

.infoHeader {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30px;
}

.pinImage {
    width: 25px;
}

.infoHeader p {
    color: #947FFF;
    text-transform: uppercase;
    margin-left: 12px;
    font-size: 1.2em;
    font-family: 'Bree Serif', serif;
}

.infoHeader a {
    color: black;
    text-decoration: underline;
    margin-left: 20px;
    font-size: 0.9em;
}

.infoHeader a:hover {
    text-decoration: none;
    font-weight: bold;
}

.infoBody {
    margin-left: 35px;
    font-family: 'Cormorant SC', serif;
}

.infoBodyTitle {
    font-size: 2.2em;
}

.infoBodyDates {
    font-size: 1.1em;
    margin-top: 10px;
}

.infoBodyDesc {
    font-size: 1.2em;
    margin-top: 20px;
}

.infoBodyNote {
    font-size: 1.0em;
    margin-top: 20px;
}

@media only screen and (min-width: 1200px) {
    .infoBodyDesc {
        font-size: 1.1em;
    }
}
