#headerMain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #FF7FAA;
    padding-top: 10px;
    padding-bottom: 10px;
}

#headerImg {
    width: 50px;
    margin-right: 5px;
    background-color: #FF7FAA;
}

#headerMain p {
    font-size: 2.50em;
    margin-left: 5px;
    background-color: #FF7FAA;
    font-family: 'Bree Serif', serif;
    text-transform: uppercase;
}