#headerMain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #FF7FAA;
    padding-top: 10px;
    padding-bottom: 10px;
}

#headerImg {
    width: 50px;
    margin-right: 5px;
    background-color: #FF7FAA;
}

#headerMain p {
    font-size: 2.50em;
    margin-left: 5px;
    background-color: #FF7FAA;
    font-family: 'Bree Serif', serif;
    text-transform: uppercase;
}

#footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FF7FAA;
    margin-top: 30px;
    height: 40px;
}

.footerImg {
    background-color: #FF7FAA;
    width: 10px;
    height: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.footerItem {
    background-color: #FF7FAA;
    text-transform: uppercase;
    font-family: 'Cormorant SC', serif;
    font-size: 1.2em;
    margin-left: 5px;
    margin-right: 5px;
}

#footer a {
    color: black;
    text-decoration: underline;
}

#footer a:hover {
    text-decoration: none;
    font-weight: bold;
}

#credits {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FF7FAA;
}

#credits a {
    background-color: #FF7FAA;
    margin-bottom: 10px;
    color: black;
}

#credits a:hover {
    text-decoration: none;
}